@inherits LayoutComponentBase
<NavTop />
<div id="layoutSidenav">
    <NavBar />
    <div id="layoutSidenav_content">
        <main>
            @Body
        </main>
        <Footer />
    </div>
</div>